
<div class="menu-container">
  <h2>Menu</h2>
  
  <div class="menu-category">
    <h3>Veg</h3>
    <div class="menu-items">
      <div *ngFor="let item of vegItems" class="menu-item">
        <img [src]="item.image" alt="{{ item.name }}" class="menu-item-image">
        <div class="menu-item-details">
          <h4>{{ item.name }}</h4>
          <p>{{ item.description }}</p>
          <p>Price: {{ item.price | currency }}</p>
          <button class="btn btn-primary" (click)="addToCart(item)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-category">
    <h3>Non-Veg</h3>
    <div class="menu-items">
      <div *ngFor="let item of nonVegItems" class="menu-item">
        <img [src]="item.image" alt="{{ item.name }}" class="menu-item-image">
        <div class="menu-item-details">
          <h4>{{ item.name }}</h4>
          <p>{{ item.description }}</p>
          <p>Price: {{ item.price | currency }}</p>
          <button class="btn btn-primary" (click)="addToCart(item)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
